.services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.serviceItem {
  text-decoration: none;
  width: 30%;
  padding: 10px;
  text-align: start;
  transition: transform 0.2s ease-in-out;
  background: #fff;
  border-radius: 8px;
}

.serviceItem:hover {
  transform: translateY(-5px);
}

.serviceIcon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #ff6347;
}

.serviceIconCode::before {
  content: "🔧";
}

.serviceIconMobile::before {
  content: "📱";
}

.serviceIconCheckCircle::before {
  content: "✔️";
}

.serviceIconBrain::before {
  content: "🧠";
}

.serviceIconPaintBrush::before {
  content: "🎨";
}

.serviceIconServer::before {
  content: "💻";
}

.serviceIconWeb::before {
  content: "🌐";
}

.serviceIconCloud::before {
  content: "☁️";
}

.serviceIconLink::before {
  content: "🔗";
}

.title {
  color: #333;
  font-size: 1.25em;
  margin: 10px 0;
}

.description {
  color: #666;
  font-size: 1em;
  margin: 0;
}

@media (max-width: 768px) {
  .serviceItem {
    width: 45%;
  }
  .description {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .serviceItem {
    width: 90%;
  }
  .description {
    font-size: 0.6em;
  }
}
