
.about{
    margin: 4em 5em;
    color: rgb(15, 15, 92);
    text-align: center;
}

.about-partner h1{
    margin: 0.5em;
    font-size: 2.5em;
}
.about-partner p{
    color: #666 ;
}

.unique{
    color: #666;
}
.unique h1{
    color: rgb(15, 15, 92);
}

.vision{
    display: flex;
    align-items: center;
    padding: 2em;
}

.mission{
    width:50%;
}
.mission p{
    color: #666;
}
.mission-image{
    width: 50%;
    
}
.mission-image img{
    width: 60%;
}

.about-members {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px auto;
    border-radius: 10px;
    flex-direction: column;
    background: rgb(109, 109, 196);
    color: white;
}

.member {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 2em;
}

.about-members:hover{
    background: rgb(74, 74, 204);

}

.member-image img {
    width: 350px; /* Adjust as needed */
    height: 350px; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image and text */
    border-radius: 50%;
    margin-top: 1em;
}

.member-text {
    flex: 1;
}

.member-text h1, .member-text h3 {
    margin: 0;
    padding: 0;
}

.member-text p {
    margin: 10px 0; /* Adjust as needed for spacing between paragraphs */
    padding-left: 0; /* Ensure no padding */
    text-indent: 0; /* Ensure no text indent */
    text-align: justify; /* Align text to ensure clean lines */
    font-size: 1.2em;
}


.about-members {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .member {
    display: flex;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  .member-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-animate {
    animation: slideIn 1s ease-in-out;
  }
  
  .text-animate {
    animation: textFadeIn 1s ease-in-out 0.5s;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideIn {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes textFadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
