.navbar {
  position: fixed;
  width: 100%;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3.2rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.logo {
  align-self: center;
  width: 70px;
  cursor: pointer;
}

.navItems {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navItem {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  transition: all 0.5s ease;
  box-sizing: border-box;
}

.navItem:hover {
  border-bottom: 1px solid rgb(47, 47, 243);
  border-radius: 0rem;
}

.navItem.active {
  background: rgb(47, 47, 243);
  border-radius: 0.5rem;
  color: #fff;
}

.navItem.active:hover {
  border: none;
}

.popupContainer {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 2em;
  animation: fadeIn 0.3s ease-in-out;
}

.popup {
  display: flex;
  flex-direction: column;
}

.firstContainer {
  display: flex;
  flex-direction: column;
}

.headerSection {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.firstContainerLogo {
  font-size: 2rem;
  margin-right: 10px;
}

.services-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

.contentSection {
  text-align: left;
  margin-left: 2.5em;
}

.services-link {
  text-align: start;
  text-decoration: none;
  font-size: 1.5em;
}

.services-link:hover {
  text-decoration: underline;
}

.popupRow {
  display: flex;
  flex-wrap: wrap; /* Allow popup sections to wrap to next line if necessary */
}

.popupSection {
  flex: 1; /* Each popup section takes equal space */
  margin-right: 2em;
}

.firstContainer p {
  margin: 0em 0em;
}

.popupSection h3 {
  margin: 1em 0;
  color: rgb(96, 140, 250);
  text-align: left;
}

.popupSection ul {
  padding: 0;
}

.popupSection li {
  list-style-type: none;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.flexRow {
  display: flex;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popupItemsLogo {
  margin-right: 1em;
}

.popupItemsHeading {
  color: rgb(45, 45, 45);
  font-size: 1em;
}

.popupItemsHeading:hover {
  text-decoration: underline;
}

.popupItemsPara {
  color: rgb(113, 112, 112);
  font-size: 0.8em;
  text-align: left;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.technologies-content {
  font-size: 0.9em;
}

.technologies-content:hover {
  text-decoration: underline;
}

.solutions-content {
  font-size: 0.9em;
}

.solutions-content:hover {
  text-decoration: underline;
}

.connect {
  background: rgb(73, 73, 226);
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
  color: #fff;
}

.connect:hover {
  background-color: blue;
  border-radius: 0.3em;
  border: none;
}

.careers-nav-item {
  position: relative;
}

.down-icon {
  margin: auto 10px;
}

.up-icon {
  margin: auto 10px;
  display: none;
}

.services-up-icon {
  margin: auto 10px;
}

.careers-nav-item:hover .down-icon {
  display: none;
}

.careers-nav-item:hover .up-icon {
  display: inline;
}

.careers-nav-item:hover .careers-hover-card-container {
  display: block;
}
.careers-hover-card-container {
  display: none;
  position: absolute;
  background-color: white;
  top: 2em;
  right: -12em;
  width: max-content;
  padding: 30px 20px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #000;
}

.careers-hover-card {
  display: flex;
  width: max-content;
}
.careers-hover-card .left-part {
  padding: 20px;
  border-right: 1px solid black;
}
.careers-hover-card a {
  text-decoration: none;
  color: #000;
}
.careers-hover-card .left-part h2 {
  font-size: 1.5rem;
  color: #000;
}
.careers-hover-card .left-part h2 span {
  margin-left: 2px;
  font-size: 1.5rem;
  color: rgb(47, 47, 243);
}
.careers-hover-card .left-part p {
  padding-top: 0.5rem;
  font-size: 0.75rem;
}

.careers-hover-card .right-part {
  padding: 20px;
}
