.footerContainer {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(41, 41, 41));

    margin-top: auto;
    padding: 20px 0;
    display: flex;
    color: #ffffff;
    justify-content: center;
}

.footerContent {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.logoContainer {
    flex: 1;
}

.logoIcons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.logo {
    height: 40px;
    margin-bottom: 10px;
}

.quickLinks, .subscribe, .helpCenter {
    flex: 1;
    min-width: 200px;
}

.quickLinks h3, .subscribe h3, .helpCenter h3 {
    margin-bottom: 10px;
}

.quickLinks ul {
    list-style: none;
    padding: 0;
}

.quickLinks li {
    margin-bottom: 5px;
}

.quickLinks a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s;
}

.quickLinks a:hover {
    text-decoration: underline;
}

.subscribe form {
    display: flex;
    flex-direction: column;
}

.emailInputContainer {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 160px;
}

.emailInput {
    border: none;
    width: 100px;
}

.emailInput:focus {
    outline: none;
}

.emailIcon {
    color: #000;
    font-size: 24px;
    margin-right: 8px;
}

.subscribeButton {
    width: 10rem;
    padding: 8px;
    border: none;
    background-color: #b32100;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscribeButton:hover {
    background-color: #fd4920;
}

.helpCenter p {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.contactIcon {
    margin-right: 8px;
    font-size: 16px;
}
.homeIcon{
    font-size: 20px;

    margin-right: 8px;
}

.iconsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    color: #ffffff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #FF5733;
}
