.hero-section {
  width: 100%;
  color: white;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100%;
}
.heading {
  font-size: 6rem;
}
.heading2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.wrapper {
  display: flex;
  align-items: center;
}
.static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts {
  color: violet;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  text-shadow: 1px 1px 5px white;
}

.buttons-container {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.demo-btn {
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 32px;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px white;
  cursor: pointer;
}

.demo-btn:hover {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 0px white;
  border: 3px solid white;
}

.explore-btn {
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 32px;
  margin: 10px 40px;
  padding: 10px 0px;
  border: 0;
  border-bottom: 3px solid white;
  cursor: pointer;
}

.explore-btn:hover {
  color: black;
  text-shadow: 1px 1px 10px white, -1px -1px 10px white, 2px 2px 10px white,
    -2px -2px 10px white;
  border-bottom: 3px solid black;
}
