*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.body{
   margin-top: 40px;
}

.Card{
   display: flex;
   justify-content: space-evenly;
   margin: 50px 0;
   margin-bottom: 100px;
   /* background-color: #a785df; */
}

.webData{
    width: 560px;
    margin-top: 10px;  
    /* background-color: #a785df;  */
}

#img{
    width: 550px;
    /* height: 200px; */
    border-radius: 20px;
}

.gradient-text {
    font-size: 3.5em;
    font-weight: bold;
    background: linear-gradient(45deg,#905fdf, #d48282, #3c963c, #5d5dee);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .text{
    font-size: 1.5em;
    padding: 20px;
    text-align: justify;
    margin: 5px 0;
    /* background-color: #a785df;  */
  }

  .btn{
       margin-top: 7px;
       padding: 10px;
       border-radius: 25px;
       /* box-shadow:#905fdf; */
       background-color: #5d5dee;
       margin: 5px 20px;
  }

.btn > h2{
    background-color: #5d5dee;
    padding: 0 10px;
}

.btn:hover{
    cursor: pointer;
    scale: calc(1.1);
}

.cloudHeading{
    font-size: 3.5em;
    font-weight: bold;
    background: linear-gradient(45deg,#4d10af, #354135, #270a55, #800080);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 5px 0;
  }

.productHeading{
    font-size: 3.5em;
    font-weight: bold;
    background: linear-gradient(45deg,#5757d4, #297379, #7a7340,#4f854f );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 5px 0;
}
